@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-black;
    @apply text-white;
  }
}
@layer components {
  .btn-primary {
    @apply py-3 px-8 sm:text-lg bg-grey text-black text-base uppercase font-semibold rounded-xl;
  }
  .btn-icon {
    @apply py-3 px-3 bg-grey text-black rounded-xl;
  }
  .heading {
    @apply text-4xl text-center  md:text-6xl max-w-3xl mx-auto font-bold uppercase font-heading leading-9 tracking-tight md:tracking-normal;
  }
  .subheading {
    @apply text-lg leading-7 md:text-xl max-w-3xl mx-auto text-center pt-5;
  }
}

@keyframes randomMove1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30vw, 20vh); /* Stay within the viewport */
  }
  50% {
    transform: translate(60vw, 70vh); /* Stay within the viewport */
  }
  75% {
    transform: translate(20vw, 40vh); /* Stay within the viewport */
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-random-move-1 {
  animation: randomMove1 50s infinite ease-in-out;
}

/* Animation for Circle 2 */
@keyframes randomMove2 {
  0% {
    transform: translate(50vw, 50vh);
  }
  20% {
    transform: translate(40vw, 30vh); /* Stay within the viewport */
  }
  40% {
    transform: translate(10vw, 70vh); /* Stay within the viewport */
  }
  60% {
    transform: translate(20vw, 60vh); /* Stay within the viewport */
  }
  80% {
    transform: translate(20vw, 20vh); /* Stay within the viewport */
  }
  100% {
    transform: translate(50vw, 50vh);
  }
}

.animate-random-move-2 {
  animation: randomMove2 40s infinite ease-in-out;
}

/* Animation for Circle 3 */
@keyframes randomMove3 {
  0% {
    transform: translate(50vw, 50vh);
  }
  30% {
    transform: translate(50vw, 10vh); /* Stay within the viewport */
  }
  60% {
    transform: translate(20vw, 60vh); /* Stay within the viewport */
  }
  90% {
    transform: translate(40vw, 20vh); /* Stay within the viewport */
  }
  100% {
    transform: translate(50vw, 50vh);
  }
}

.animate-random-move-3 {
  animation: randomMove3 30s infinite ease-in-out;
}
