@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-black;
    @apply text-white;
  }
}
@layer components {
  .btn-primary {
    @apply py-3 px-8 sm:text-lg bg-grey text-black text-base uppercase font-semibold rounded-xl hover:scale-95 hover:bg-white duration-500;
  }
  .btn-icon {
    @apply py-3 px-3 bg-grey text-black rounded-xl hover:scale-95 hover:bg-white duration-500;
  }
  .heading {
    @apply text-4xl text-center  md:text-6xl max-w-3xl mx-auto font-bold uppercase font-heading leading-9 tracking-tight sm:tracking-normal;
  }
  .subheading {
    @apply text-lg leading-7 md:text-xl max-w-3xl mx-auto text-center pt-5;
  }
}

@keyframes rotateMove1 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(30vw, 20vh) rotate(90deg); /* Move and rotate */
  }
  50% {
    transform: translate(50vw, 50vh) rotate(180deg); /* Move and rotate */
  }
  75% {
    transform: translate(20vw, 40vh) rotate(270deg); /* Move and rotate */
  }
  100% {
    transform: translate(0, 0) rotate(360deg); /* Move and rotate */
  }
}

.animate-rotate-move-1 {
  animation: rotateMove1 40s infinite ease-in-out;
}

@keyframes rotateMove2 {
  0% {
    transform: translate(100vw, 100vh) rotate(0deg);
  }
  20% {
    transform: translate(0vw, 0vh) rotate(-90deg); /* Move and rotate */
  }
  40% {
    transform: translate(20vw, 100vh) rotate(-180deg); /* Move and rotate */
  }
  60% {
    transform: translate(70vw, -70vh) rotate(-270deg); /* Move and rotate */
  }
  80% {
    transform: translate(10vw, 0vh) rotate(-360deg); /* Move and rotate */
  }
  100% {
    transform: translate(0vw, 0vh) rotate(-450deg); /* Move and rotate */
  }
}

.animate-rotate-move-2 {
  animation: rotateMove2 40s infinite ease-in-out;
}

@keyframes rotateMove3 {
  0% {
    transform: translate(0vw, 100vh) rotate(0deg);
  }
  30% {
    transform: translate(90vw, 10vh) rotate(120deg); /* Move and rotate */
  }
  60% {
    transform: translate(0vw, 0vh) rotate(240deg); /* Move and rotate */
  }
  90% {
    transform: translate(70vw, 100vh) rotate(360deg); /* Move and rotate */
  }
  100% {
    transform: translate(0vw, 100vh) rotate(480deg); /* Move and rotate */
  }
}

.animate-rotate-move-3 {
  animation: rotateMove3 40s infinite ease;
}
